<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen Académico</ion-card-title>
      <ion-card-subtitle>Estado del alumno</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Visualiza tus calificaciones, asistencia acumulada y notificaciones importantes del instituto.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
